@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import "tailwindcss";

@theme {
  --color-cyber-black: #0b0b0f;
  --color-cyber-blue: #00f0ff;
  --color-cyber-purple: #b967ff;
  --color-cyber-pink: #ff3c98;
  --color-cyber-yellow: #f7f71e;
  --color-cyber-green: #0ef032;
  --color-cyber-red: #ff3030;
  
  --shadow-neon-blue: 0 0 5px #00f0ff, 0 0 10px #00f0ff;
  --shadow-neon-pink: 0 0 5px #ff3c98, 0 0 10px #ff3c98;
  
  --font-cyberpunk: "Orbitron", sans-serif;
  --font-glitch: "Share Tech Mono", monospace;
}


:root {
  --scanline-height: 2px;
  --scanline-gap: 4px;
}

body {
  background-color: #0b0b0f;
  color: white;
  overflow-x: hidden;
}
