@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap');
@import "tailwindcss";

@theme {
    --color-neon-yellow: oklch(0.99 0.8 85);
    --color-neon-pink: oklch(0.95 0.7 330);
    --color-neon-blue: oklch(0.95 0.7 200);
    --color-dark-gray: oklch(0.1 0.02 240);
    --color-light-gray: oklch(0.3 0.02 240);
    --color-black: oklch(0 0 0);

    --spacing-1: 0.25rem;
    /* 4px */
    --spacing-2: 0.5rem;
    /* 8px */
    --spacing-3: 0.75rem;
    /* 12px */
    --spacing-4: 1rem;
    /* 16px */
    --spacing-6: 1.5rem;
    /* 24px */
    --spacing-8: 2rem;
    /* 32px */
    --spacing-12: 3rem;
    /* 48px */
    --spacing-16: 4rem;
    /* 64px */
}

@layer base {
    h1 {
        @apply text-4xl font-bold text-neon-yellow mb-6;
    }

    h2 {
        @apply text-3xl font-semibold text-neon-pink mb-4;
    }

    h3 {
        @apply text-2xl font-medium text-neon-blue mb-3;
    }

    h4 {
        @apply text-xl font-medium text-neon-yellow mb-2;
    }
}


::selection {
    background: var(--color-neon-pink);
    color: var(--color-black);
}

::-moz-selection {
    background: var(--color-neon-pink);
    color: var(--color-black);
}

input:focus {
    outline: none;
    box-shadow: 0 0 16px var(--color-neon-pink);
}

.bg-cover {
    background-size: cover;
    background-position: center;
}